name: Integration tests

on:
  push:
    branches: [master, main]
  pull_request:
    branches: [master, main]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: Swatinem/rust-cache@v2
        with:
          workspaces: integration_tests/
          cache-on-failure: true
      - name: Build Integration Tests
        run: cd integration_tests && cargo check --all --verbose
  native_token:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v5
      - uses: Swatinem/rust-cache@v2
        with:
          workspaces: integration_tests/
          cache-on-failure: true
      - name: Test the native token features of the EVM
        run: tests/all-up-test-ci.sh NATIVE_TOKEN
  lockup:
    runs-on: ubuntu-latest
    needs: native_token
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v5
      - uses: Swatinem/rust-cache@v2
        with:
          workspaces: integration_tests/
          cache-on-failure: true
      - name: Lock up the chain and ensure funds are not transferrable
        run: tests/all-up-test-ci.sh LOCKUP
  microtx_fees:
    runs-on: ubuntu-latest
    needs: native_token
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v5
      - uses: Swatinem/rust-cache@v2
        with:
          workspaces: integration_tests/
          cache-on-failure: true
      - name: Assert that fees are collected by the microtx module
        run: tests/all-up-test-ci.sh MICROTX_FEES
  erc20_conversion:
    needs: native_token
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v5
      - uses: Swatinem/rust-cache@v2
        with:
          workspaces: integration_tests/
          cache-on-failure: true
      - name: Test the erc20 module's token conversion functionality
        run: tests/all-up-test-ci.sh ERC20_CONVERSION
  gasfree_erc20_interop:
    needs: native_token
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v5
      - uses: Swatinem/rust-cache@v2
        with:
          workspaces: integration_tests/
          cache-on-failure: true
      - name: Test the erc20 module's gasfree token conversion (+ IBC) functionality
        run: tests/all-up-test-ci.sh GASFREE_ERC20_INTEROP
  liquid_accounts:
    needs: native_token
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v5
      - uses: Swatinem/rust-cache@v2
        with:
          workspaces: integration_tests/
          cache-on-failure: true
      - name: Test the microtx module's liquid infrastructure accounts functions
        run: tests/all-up-test-ci.sh LIQUID_ACCOUNTS
  ica_host:
    #needs: native_token
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v5
      - uses: Swatinem/rust-cache@v2
        with:
          workspaces: integration_tests/
          cache-on-failure: true
      - name: Test the interchain accounts host module on Althea-L1
        run: tests/all-up-test-ci.sh ICA_HOST
  ONBOARDING_DEFAULT_PARAMS:
    needs: native_token
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v5
      - uses: Swatinem/rust-cache@v2
        with:
          workspaces: integration_tests/
          cache-on-failure: true
      - name: Starts the onboarding module with the default params
        run: tests/all-up-test-ci.sh ONBOARDING_DEFAULT_PARAMS
  ONBOARDING_DISABLED_WHITELISTED:
    needs: native_token
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v5
      - uses: Swatinem/rust-cache@v2
        with:
          workspaces: integration_tests/
          cache-on-failure: true
      - name: Starts the onboarding module disabled with a whitelisted channel
        run: tests/all-up-test-ci.sh ONBOARDING_DISABLED_WHITELISTED
  ONBOARDING_DISABLE_AFTER:
    needs: native_token
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v5
      - uses: Swatinem/rust-cache@v2
        with:
          workspaces: integration_tests/
          cache-on-failure: true
      - name: Starts the onboarding module permissively, but disables it after a transfer
        run: tests/all-up-test-ci.sh ONBOARDING_DISABLE_AFTER
  ONBOARDING_DELIST_AFTER:
    needs: native_token
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v5
      - uses: Swatinem/rust-cache@v2
        with:
          workspaces: integration_tests/
          cache-on-failure: true
      - name: Starts the onboarding module permissively, but removes the channel from the whilelist after a transfer
        run: tests/all-up-test-ci.sh ONBOARDING_DELIST_AFTER
  DEX:
    needs: native_token
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v5
      - uses: Swatinem/rust-cache@v2
        with:
          workspaces: integration_tests/
          cache-on-failure: true
      - name: Performs basic DEX tests
        run: tests/all-up-test-ci.sh DEX
  DEX_UPGRADE:
    needs: native_token
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v5
      - uses: Swatinem/rust-cache@v2
        with:
          workspaces: integration_tests/
          cache-on-failure: true
      - name: Tests the DEX callpath upgrade functionality
        run: tests/all-up-test-ci.sh DEX_UPGRADE
  DEX_SAFE_MODE:
    needs: native_token
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v5
      - uses: Swatinem/rust-cache@v2
        with:
          workspaces: integration_tests/
          cache-on-failure: true
      - name: Tests the DEX safe mode lockdown functionality
        run: tests/all-up-test-ci.sh DEX_SAFE_MODE
  DEX_OPS_PROPOSAL:
    needs: native_token
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v5
      - uses: Swatinem/rust-cache@v2
        with:
          workspaces: integration_tests/
          cache-on-failure: true
      - name: Tests the nativedex OpsProposal function
        run: tests/all-up-test-ci.sh DEX_OPS_PROPOSAL
  EVM_FEE_BURNING:
    needs: native_token
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v5
      - uses: Swatinem/rust-cache@v2
        with:
          workspaces: integration_tests/
          cache-on-failure: true
      - name: Checks that evm fees are truly burned
        run: tests/all-up-test-ci.sh EVM_FEE_BURNING
  EXECUTE_CONTRACT_PROPOSAL:
    needs: native_token
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v5
      - uses: Swatinem/rust-cache@v2
        with:
          workspaces: integration_tests/
          cache-on-failure: true
      - name: Checks that the nativedex execute contract proposal works
        run: tests/all-up-test-ci.sh EXECUTE_CONTRACT_PROPOSAL
  GOV_SPEND:
    needs: native_token
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v5
      - uses: Swatinem/rust-cache@v2
        with:
          workspaces: integration_tests/
          cache-on-failure: true
      - name: Checks that a CommunityPoolSpendProposal can send ALTHEA to a contract
        run: tests/all-up-test-ci.sh GOV_SPEND

